<!DOCTYPE html>
<html>
<head>
  <title>Resume</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
	<div class="row">	
		<div class="span8"><%= yield %></div>
		<div class="span4"><h2>Languages</h2></div>
	</div>
</body>
</html>
